
html {
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: black;
  padding: 0;
  margin: 0;
}
nav {
  height: 50px;
  background-color: rgba(green, .5);
  width: 100%;
  position: relative;
  margin-top: 25px;
}

.home-link{
  flex: 1 1 auto;
  display: inline-block;
  height: 100%;
  margin: -24px 25px 0;
  img {
    border-radius: 100px;
    transition:filter 10s;
    box-shadow: 5px 5px 10px black;
    &:hover{
      filter: hue-rotate(1800deg);
    }
  }
}

.nav-links-left {
  list-style-type: none;
  margin: 0 25px;
  padding: 0;
  float: right;
  height: 100%;
  li{
    height: 100%;
    display: inline-block;
    a{
      padding: 14px 20px;
      display: inline-block;
      color:white;
      font-size: 20px;
      border-radius: 10px 5px;
      transition: color 0.5s, background .6s;
      text-decoration: none;
      &:hover{
        background-color: rgba(turquoise, .5);
        color: yellow;
      }
    }
  }
}

#main {
  height: 200px;
  width: 90%;
  background-color: white;
  margin: 0 auto;
}

#banner {
  width: 100%;
  flex: 1 1 auto;
  height: 100%;
  img {
    width: 100%;
    height: auto;
  }
  &.top-margin{
    margin-top: 150px;
  }
}

.half {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  height: 100px;
}

#shows {
  background-color: white;
}

#tracks {
  background-color: yellow;
}
