
html {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

body {
  background-color: rgb(87, 87, 87);
  padding: 0;
  margin: 0;
}
nav {
  height: 50px;
  background-color: rgba(green, .5);
  width: 100%;
  position: relative;
  margin-top: 25px;
}

.home-link{
  flex: 1 1 auto;
  display: inline-block;
  height: 100%;
  margin: -24px 25px 0;
  img {
    position: relative;
    z-index: 10;
    border-radius: 100px;
    transition:filter 10s;
    box-shadow: 5px 5px 10px black;
    &:hover{
      filter: hue-rotate(1800deg);
    }
  }
}

.nav-links-left {
  list-style-type: none;
  margin: 0 25px;
  padding: 0;
  float: right;
  height: 100%;
  li{
    height: 100%;
    display: inline-block;
    a{
      padding: 14px 20px;
      display: inline-block;
      color:white;
      font-size: 20px;
      border-radius: 10px 5px;
      transition: color 0.5s, background .6s;
      text-decoration: none;
      &:hover{
        background-color: rgba(turquoise, .5);
        color: yellow;
      }
    }
  }
}

#banner {
  width: 100%;
  flex: 1 1 auto;
  height: 100%;
  img {
    width: 100%;
    height: auto;
  }
  &.top-margin{
    margin-top: 150px;
  }
}

.half {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  height: 100px;
}

#shows {
  background-color: white;
}

#tracks {
  background-color: yellow;
}

#main {
  height: calc(100vh - 0px);
  width: 90%;
  padding: 25px;
  border-radius: 1000px 1000px 0 0;
  background-color: white;
  margin: 0 auto;
  border: 5px solid white;
}

#main.ng-enter, #main.ng-leave {
  position: absolute;
  z-index: 0;
  width: 100%;
  left: 0;
  right: 0;
  transition: all .5s ease-in-out;
  overflow: hidden;
}

#main.ng-enter {
  background-color: black;
  transition-delay: .5s;
  transform:rotateZ(270deg);
  width: 200px;
  border-radius: 200px;
}

#main.ng-enter-active {
  background-color: white;
  transform:rotateZ(720deg);
  width: 90%;
  border-radius: 0;
}

#main.ng-leave {
  transform:rotateZ(0deg);
  width: 90%;
  background-color: white;
  border-radius: 0;
}

#main.ng-leave-active {
  background-color: black;
  transform:rotateZ(270deg);
  width: 200px;
  border-radius: 200px;

}
