@import "./components/_variables.scss", "./components/_animations";
html, body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

body{
  position: relative;
}

.table {
  display: table;
  height: 100%;
  width: 100%;
  .vertical-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}

.shows {
  white-space: nowrap;
  margin: 0 auto;
}

.show {
  display: inline-block;
  transform: scale(0.6);
  .title {
    font-size: 2rem;
    a {
      transition: color 1s ease-in-out;
      text-decoration: none;
      color: lightblue;
      &:hover{
        color: skyblue;
      }
    }
  }
  .date {
    font-size: 1rem;
  }
  .flier{
    height: 150px;
    width: 100px;
    overflow: hidden;
  }
}

.show.active {
  transform: scale(1);
}

body {
  background-color: rgb(87, 87, 87);
  padding: 0;
  margin: 0;
}
nav {
  height: 50px;
  background-color: rgba(green, .5);
  width: 100%;
  position: fixed;
  top: 25px;
  position: relative;
  // z-index: 4p
}


.home-link{
  flex: 1 1 auto;
  display: inline-block;
  height: 100%;
  margin: -24px 25px 0;
  img {
    position: relative;
    z-index: 16;
    border-radius: 100px;
    box-shadow: 5px 5px 10px $shadow;
    animation: rotate-hue 2s infinite;
  }
  a{
    position: relative;
    z-index: 16;
  }
}

.nav-links-left {
  list-style-type: none;
  margin: 0 25px;
  padding: 0;
  float: right;
  height: 100%;
  li{
    height: 100%;
    display: inline-block;
    a{
      padding: 14px 20px;
      display: inline-block;
      color:white;
      background-color: rgba(green, .5);
      font-size: 20px;
      border-radius: 10px 5px;
      position: relative;
      z-index: 16;
      transition: color 0.5s, background .6s;
      text-decoration: none;
      &:hover{
        background-color: rgba(turquoise, .5);
        color: yellow;
      }
    }
  }
}



.show {
  background-color: rgba(green, .4);
  box-shadow: 5px 5px 10px darken(green, 20%);
  border-radius: 15px;
}

.view {
  position: relative;
  height: 100%;
  transition: opacity 1.2s;
}

#main {
  background-image: url('../images/test12.png');
  background-position: center bottom;
  background-size: cover;
  z-index: 15;
  height: calc(100vh - 50px);
  background-color: black;
  position: absolute;
  width: calc(200vh - 100px);
  color: white;
  border: 4px solid white;
  border-bottom: 0;
  border-radius: 100vh 100vh 0 0;
  box-shadow: -20px -20px 40px $shadow, 20px 20px 40px $shadow, 20px -20px 40px $shadow, -10px -10px 0 $shadow, -10px 10px 0 $shadow, 10px 10px 0 $shadow, 10px -10px 0 $shadow;
  margin: 0 auto;
  left: 0;
  right: 0;
  transform-origin: 50% 100%;
}

#main.ng-enter, #main.ng-leave {
  position: absolute;
  overflow: hidden;
  transition: transform .6s ease-out;
}

#main.ng-enter {
  transform:rotateZ(180deg);
}

#main.ng-enter-active {
  transform:rotateZ(360deg);
}

#main.ng-leave {
  box-shadow: -20px -20px 40px $shadow, 20px -20px 40px $shadow, -10px -10px 0 $shadow, -10px -10px 0 $shadow, 10px -10px 0 $shadow;
  z-index: 15;
  transform:rotateZ(0deg);
  color: white;
}

#main.ng-leave-active {
  transform:rotateZ(180deg);
}


@media only screen and (orientation:portrait),  (max-width: 1000px){
  body, html{
  overflow-y: auto;
  }
  #main {
    margin-top: 100px;
    height: 100vw;
    width: 100vw;
    border-radius: 100vw;
    background-image: url('../images/test123.png');
    background-position: center;
    background-size: contain;
    transform-origin: 50% 50%;
    box-shadow: -20px -20px 40px $shadow, 20px 20px 40px $shadow, 20px -20px 40px $shadow, -20px 20px 40px $shadow, -10px 10px 0 $shadow, -10px -10px 0 $shadow, 10px 10px 0 $shadow, 10px -10px 0 $shadow !important;
    .view {
      width: 100%;
      height: 100%;
      top: 0;
    }
    &.ng-enter {
      transform: rotateZ(0deg);
      z-index: 0;
      .view{
        opacity: 0;
      }
    }
    &.ng-enter-active {
      transform:rotateZ(720deg);
      z-index: 16;
      .view{
        opacity: 1;
      }
    }
    &.ng-leave {
      z-index: 0;
    }
    &.ng-leave-active {
      z-index: 0;
    }
  }
}

@import "./components/_main.scss", "./components/_bio";
