<div class="view">
  <div class="table">
    <div class="vertical-cell">
      <div class="about">
        <div class="about-paragraph">
          Just two dope boys in a Cadillac hailing from the Yay and touched by the wheelz of steel. As they stand in their B-Boy stance with socks and flip flops and sweat pants, California love runs through their veins and pours out of their beats. G House has always been totally American. As American as apple pie, the question is why... why is G House so at home here? Well America provided the atmosphere. They got their gold watches and gold chains. They push fancy cars and sport diamond rings. There crew is ghetto broads with some of those long names. They like Montblanc pens and Moleskine paper. They like Goyard bags and green Now-or-laters.
        </div>
        <div class="bros">
          <div class="bro"></div>
          <div class="bro"></div>
        </div>
      </div>
    </div>

  </div>
</div>
