<div id="dates" class="view">
  <div class="table">
    <div class="shows vertical-cell">
      <div class="show">
        <div class="title">
          <a href="">Title</a>
        </div>
        <div class="date">
          Tuesday, December 15, 1987
        </div>
        <div class="flier">
          <img src="http://placehold.it/100x250" alt="Event flier" title="Title">
        </div>
      </div>
      <div class="show">
        <div class="title">
          <a href="">Title</a>
        </div>
        <div class="date">
          Tuesday, December 15, 1987
        </div>
        <div class="flier">
          <img src="http://placehold.it/100x150" alt="Event flier" title="Title">
        </div>
      </div>
      <div class="show active">
        <div class="title">
          <a href="">Title</a>
        </div>
        <div class="date">
          Tuesday, December 15, 1987
        </div>
        <div class="flier">
          <img src="http://placehold.it/100x150" alt="Event flier" title="Title">
        </div>
      </div>
      <div class="show">
        <div class="title">
          <a href="">Title</a>
        </div>
        <div class="date">
          Tuesday, December 15, 1987
        </div>
        <div class="flier">
          <img src="http://placehold.it/100x150" alt="Event flier" title="Title">
        </div>
      </div>
      <div class="show">
        <div class="title">
          <a href="">Title</a>
        </div>
        <div class="date">
          Tuesday, December 15, 1987
        </div>
        <div class="flier">
          <img src="http://placehold.it/100x150" alt="Event flier" title="Title">
        </div>
      </div>
    </div>
  </div>

</div>

<div class="inner-circle">

</div>
